
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0;
    width: 100%;
    max-width: 350px;
}

.header {
    color: #262019;
    text-align: center;
    font-family: Bangers, cursive, fantasy;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
    letter-spacing: 1.5px;
    margin-bottom: 20px;
    }

.label {
    color: #262019;
    font-family: Pangolin, cursive;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: start;
    place-self: start;
    margin-bottom: 5px;
}

.button {
    margin-top: 10px;
    display: flex;
    height: 50px;
    padding: 10px 20px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 100%;
    border: 1px solid #262019;
    background: #328449;
    color: #FFF;
    text-align: center;
    font-family: Bangers, cursive, fantasy;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1.2px;
}

.fadeOut {
    opacity: 0;
    transition: opacity 1s ease-out;
}
