[submodule "lib/openzeppelin-contracts"]
	path = lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "lib/web3"]
	path = lib/web3
	url = https://github.com/moonstream-to/web3
