.activeChoice {
    display: flex;
    padding: 10px 15px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 30px;
    border: 1px solid #FFF;
    background: #FFF;
    color: #000;
    leading-trim: both;
    text-edge: cap;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    cursor: pointer;

}

.inactiveChoice {
    display: flex;
    padding: 10px 15px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: #FFF;
    border-radius: 30px;
    border: 1px solid #FFF;
    leading-trim: both;
    text-edge: cap;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    cursor: pointer;
}

.actionText {
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 14px;
    font-style: italic;
    font-weight: 500;
    line-height: normal;
}

.text {
    width: 238px;
    color: #BFBFBF;
    text-align: center;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.textBold {
    color: #BFBFBF;
    text-align: center;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.pitcherGrid {
    /*cursor: url("https://static.simiotics.com/fullcount/ball.png"), pointer;*/
}
.pitcherGridSelected {
    cursor: pointer;
}
.batterGrid {
    /*cursor: url("https://static.simiotics.com/fullcount/bat-cursor.png"), pointer;*/
}

.moveMouseTip {
    white-space: nowrap;
    font-size: 12px;
    position: absolute;
    color: #CCCCCC;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.completedAction {
    display: flex;
    height: 31px;
    width: 180px;
    padding: 6px 20px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border: 1px solid #767676;
    background: #4D4D4D;
    line-height: normal;
}

.waitingMessage {
    color: #BFBFBF;
    text-align: center;
    font-family: Bangers;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%; /* 12px */
    letter-spacing: 0.6px;
    white-space: nowrap;
}

.pitchTitle {
    color: #FFF;
    font-family: Inter, sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.gridBox {
    /*backdrop-filter: blur(3px);*/
    /*background: rgba(255, 255, 255, 0.70);*/
    /*transform: translateZ(0);*/
    /*backface-visibility: hidden;*/
    opacity: 0.7;
}

.batImage {
    position: absolute;
    opacity: 70%;
    width: 200px;
    height: 39px;
    z-index: 1;
}


.ballImage {
    position: absolute;
    opacity: 100%;
    width: 200px;
    height: 39px;
    z-index: 3;
}