.time {
    color: #FF8D8D;
    /*font-family: Segment7;*/
    font-size: 27.027px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    height: 25px;
}

.title {
    color: #FFF;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}

.timerContainer {
    display: flex;
    padding: 10px 12px;
    align-items: center;
    gap: 2px;
    border: 1px solid #FFF;
    background: #1B1B1B;
    flex-direction: column;
    justify-content: center;
}

.countLeft {
    display: flex;
    padding: 10px 12px;
    align-items: center;
    justify-content: center;
    gap: 15px;
    flex: 0 0 0;
    border: 1px solid #F1E3BF;
    background: #00B94A;
}

@media (max-width: 1023px) {
    .countLeft {
        padding: 2px 4px;
        gap: 3px;
    }
    .timerContainer {
        padding: 2px 4px;
    }

    .title {
        font-size: 10px;
    }

    .time {
        font-size: 12px;
    }
}