.container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.team {
    display: flex;
    padding: 20px 10px;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    align-self: stretch;

    border: 1px solid #7E8E7F;
    background: #FFF;
}

.bossesTitle {
    color: #C9904D;
    font-family: Bangers, cursive;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.teamTitle {
    color: #262019;
    font-family: Bangers, cursive;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.teamMotto {
    text-align: center;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.teamTokenCards {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    align-content: flex-start;
    gap: 10px;
    align-self: stretch;
    flex-wrap: wrap;
}

