.container {
    display: grid;
    width: fit-content;
    grid-template-columns: repeat(2, auto);
    font-size: 12px;
    color: #262019;
    column-gap: 30px;
}

.header {
    font-family: Bangers, cursive;
    letter-spacing: 0.3px;
}

.leaderboardTitle {

}

.rank {
}

.score {

}