.container {
    display: flex;
    padding: 9px;
    flex-direction: column;
    gap: 10px;
    align-self: stretch;

    border: 1px solid #262019;
    background: #EBE4DC;
    margin-bottom: 10px;
}

.header {
    color: #262019;
    text-align: center;
    font-family: Bangers, cursive;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%; /* 24px */
    text-transform: uppercase;
    content: 'Roster';
}

.tokens {
    display: flex;
    align-items: flex-start;
    gap: 20px;
    align-self: stretch;
}

.selectedTokenContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
    align-self: stretch;
}

.tokenInfo {
    display: flex;
    padding: 13px 10px 10px 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    align-self: stretch;
    margin-top: -5px;
    border: 1px solid #262019;
    background: #FFF;
    max-width: 130px;
}

.tokenName {
    color: #262019;
    text-align: center;
    font-family: Bangers, cursive;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%; /* 18px */
}

.tokenId {
    color: #8EAB8F;
    text-overflow: ellipsis;
    font-family: Bangers, cursive;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%; /* 14px */
}

.buttonsContainer {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 5px;
    align-self: stretch;
    width: 130px;
}

.button {
    display: flex;
    height: 40px;
    padding: 5px 20px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex: 1 0 0;
    border: 1px solid #262019;
    background: #328449;
    color: #FFF;
    font-family: Bangers, cursive;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%; /* 18px */
    min-width: 62.5px;
}

.tokenCards {
    display: flex;
    align-items: center;
    gap: 10px;
    align-self: stretch;
    flex-wrap: wrap;
    height: fit-content;
    max-height: 218px;
    overflow-y: auto;
}

.tokenImage {
    border: 0.5px solid #7E8E7F;
    cursor: pointer;
}

.selectedTokenImage {
    border: 3px solid #328449;
    cursor: pointer;
}
