.container {
  display: flex;
  width: 648px;
  padding: 40px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
  flex-shrink: 0;
  align-self: center;
  border: 1px solid #4d4d4d;
  background: rgba(41, 41, 41, 0.7);
}



.title {
  color: #fff;
  font-family: Inter, serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.cards {
  display: flex;
  align-items: flex-start;
  gap: 15px;
  align-self: stretch;
}

.button {
  display: flex;
  padding: 4px 20px;
  justify-content: center;
  align-items: center;
  gap: 5px;
  /*align-self: stretch;*/
  border: 0.5px solid #f1e3bf;
  background: #00a341;
  color: #fff;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
