.container {
    display: flex;
    width: 648px;
    padding: 40px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    flex-shrink: 0;
    align-self: center;
    border: 1px solid #4D4D4D;
    background: rgba(41, 41, 41, 0.70);
}

.title {
    color: #FFF;
    font-family: Inter, serif;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.button {
    display: flex;
    padding: 4px 20px;
    justify-content: center;
    align-items: center;
    gap: 5px;
    /*align-self: stretch;*/
    border: 0.5px solid #F1E3BF;
    background: #00A341;
    color: #FFF;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}