.container {
    display: flex;
    flex-direction: column;
    padding: 0;
}

.heroContainer {
    display: flex;
    flex-direction: column;
}

.bannerContainer {
    border: 1px solid #262019;
    border-bottom: none;
}

.heroInnerContainer {
    display: flex;
    padding: 20px 7% 40px 7%;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    align-self: stretch;
}

.heroTitle {
    color: #262019;
    text-align: center;
    font-family: Bangers;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 110%; /* 33px */
    max-width: 247px;
}

.heroText {
    color: #262019;
    text-align: center;
    font-family: Pangolin;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.heroText {
    margin-top: -10px;
}

.button {
    display: flex;
    padding: 9px 20px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    align-self: stretch;
    border: 1px solid #262019;
    background: #328449;
}

@media (min-width: 768px) {
    .button {
        align-self: center;
        padding: 9px 80px;
    }
    .heroInnerContainer {
        padding: 40px 7% 60px 7%;
    }

    .heroTextTitle {
        font-size: 40px;
        max-width: 425px;
        line-height: 110%;
    }
}

@media (min-width: 1024px) {
    .container {
        padding: 40px 7%;
    }
    .heroContainer {
        /*padding: 40px 71.68px;*/
    }
    .heroInnerContainer {
        border: 1px solid #262019;
        background: #EBE4DC;
        display: flex;
        padding: 40px 7%px;
        flex-direction: column;
        align-items: center;
        gap: 30px;
        align-self: stretch;
        border-top: 1px solid #262019;
    }

}

@media (min-width: 1440px) {
    .heroTitle {
        font-size: 50px;
    }
}
