.container {
    display: flex;
    padding: 40px 22.4px;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    align-self: stretch;
}

.title {
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%; /* 30px */
}
.chalengeContainer {
    display: flex;
    min-width: 275.2px;
    padding: 30px;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    flex: 1 0 0;

    border: 1px solid #4D4D4D;
    background: #232323;
}

.chalengeTitle {
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.textContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    align-self: stretch;
}

.chalengeText {
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}





