.container {
    display: flex;
    padding: 40px 7%;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    align-self: stretch;
}

.firstBlock, .secondBlock {
    display: flex;
    min-width: 275.2px;
    padding: 30px;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    align-self: stretch;
    border: 1px solid #FFF;
    background: #1B1B1B;
}

.secondBlock {
    border: 1px solid #4D4D4D;
}

.title {
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; /* 36px */
}

.message {
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.button {
    display: flex;
    padding: 11px 80px;
    flex-direction: column;
    align-items: center;
    align-self: stretch;
    border: 1px solid #FFF;
    background: #FFF;
    color: #1B1B1B;
    text-align: center;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

@media (min-width: 768px) {
    .container {
        flex-direction: row;
        padding: 80px 7%;

    }
    .secondBlock {
        gap: 40px;
    }

    .firstBlock, .secondBlock {
        padding: 40px;
        flex: 1 1;
    }
    .firstBlock {
        justify-content: space-between;
    }
}