.container {
    display: flex;
    padding: 40px 7%;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    align-self: stretch;
}
.title {
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%; /* 30px */
}

.card {
    display: flex;
    padding: 30px;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    flex: 1 1;
    border: 1px solid #4D4D4D;
    background: #232323;
}

.cardTitle {
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.cardText {
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.cardsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

@media (min-width: 768px) {

    .container {
        padding: 80px 7%;
        gap: 60px;
    }
    .card {
        gap: 40px;
        padding: 40px;
        align-self: stretch;
    }

    .cardText {
        text-align: start;
    }

    .cardsContainer {
        display: flex;
        flex-direction: row;
        /*justify-content: center;*/
        /*align-items: flex-start;*/
        /*align-content: flex-start;*/
        gap: 20px;
        /*align-self: stretch;*/
    }
}
