.container {
    display: flex;
    padding: 15px 7%;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    align-self: stretch;
    background: #0B0B0B;

}

.title {
    color: #FFF;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%; /* 16px */
}

.date {
    color: #FFF;
    text-align: right;
    font-family: Inter;
    font-size: 8px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.label {
    color: #FFF;
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.eventsContainer {
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 275.2px;
    gap: 10px;
}

.event {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 2px;
    flex: 1 0 0;
}

.divider {
    height: 1px;
    align-self: stretch;
    background: #4D4D4D;
}

@media (min-width: 768px) {
    .divider {
        height: 36px;
        width: 1px;
    }
    .eventsContainer {
        flex-direction: row;
        width: auto;
        gap: 20px;
        justify-content: center;
    }

    .container {
        padding: 30px 7%;
    }

    .date {
        font-size: 12px;
    }
    .label {
        font-size: 16px;
    }
    .title {
        font-size: 20px;
    }
}

@media (min-width: 1440px) {
    .container {
        max-width: 1238px;
        align-self: center;
        width: 100%;
        border: 1px solid #4D4D4D;
        background: #0B0B0B;
    }
}