.container {
    display: flex;
    flex-direction: column;
}

.innerContainer {
    display: flex;
    flex-direction: column;
    align-self: center;
    width: 100%;
    max-width: 1240px;
    height: 100%;
}

.navbarContainer {
    padding: 20px 20px 5px 20px;
    max-width: 1240px;
    margin-bottom: 15px;
}

.homeButton {
    display: flex;
    padding: 5px 5px 5px 20px;
    align-items: center;
    gap: 5px;
    color: #262019;
    font-family: Pangolin, cursive;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 15px;
    cursor: pointer;
}



@media (min-width: 768px) {
    .container {
        display: flex;
        height: 100vh;
        padding: 0 100px 40px 100px;
        flex-direction: column;
        background: #FCECD9;
    }


    .navbarContainer {
        margin-bottom: 20px;
    }

    .homeButton {
        margin-bottom: 20px;
    }
}
