.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100vw;
    height: 100vh;
    max-height: 100vh;
    overflow-y: clip;
    background: #FFF;
    position: relative;
}

.exitButton {
    position: absolute;
    top: 45.5px;
    right: 10px;
    color: black;
    z-index: 9;
    display: inline-flex;
    padding: 8px;
    justify-content: center;
    align-items: center;
    gap: 10px;

    border: 1px solid #7E8E7F;
    background: rgba(255, 255, 255, 0.70);
    backdrop-filter: blur(3px);
    cursor: pointer;
}


.positiveOutcome, .negativeOutcome {
    position: absolute;
    right: 50%;
    top: 12%; /*35.5 + 13.5*/
    transform: translateX(50%);
    max-height: 36px;
    z-index: 2;
    white-space: nowrap;
}
.positiveOutcome {
    color: #328449;
    font-family: Bangers, cursive;
    font-size: 50px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.negativeOutcome {
    color: #CD7676;
    font-family: Bangers, cursive;
    font-size: 50px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}


.positiveOutcome2, .negativeOutcome2 {
    display: flex;
    align-items: center;
    padding-top: 7px;
    justify-content: center;
    position: absolute;
    right: 50%;
    transform: translateX(50%);
    z-index: 3;
    text-align: center;
    font-family: Bangers, cursive;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    fill: rgba(255, 255, 255, 0.70);
    stroke-width: 1px;

    top: 35.5px;
    font-size: 32px;
    width: 162px;
    height: 98px;
}

.negativeOutcome2 {
    stroke: #CD7676;
    color: #CD7676;
    background-image: url(https://static.fullcount.xyz/web/elements/outcome-bubble-loss-medium.svg);
}

.positiveOutcome2 {
    color: #669568;
    background-image: url(https://static.fullcount.xyz/web/elements/outcome-bubble-victory-medium.svg);
    stroke: #CD7676;
}

@media (min-width: 1024px) {
    .positiveOutcome2, .negativeOutcome2 {
        font-size: 64px;
        height: 196px;
        width: 324px;
        top: 0;
        padding-top: 0;
    }
    .positiveOutcome2 {
        background-image: url(https://static.fullcount.xyz/web/elements/outcome-bubble-victory-big.svg);
    }
    .negativeOutcome2 {
        background-image: url(https://static.fullcount.xyz/web/elements/outcome-bubble-loss-big.svg);
    }
}


.homeButton {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateY(-92px) translateX(-50%);
    color: #262019;
    font-family: Pangolin, cursive;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    cursor: pointer;
    text-align: center;
    z-index: 4;
}

.playerView {
    display: flex;
    flex-grow: 2;
    align-items: flex-end;
}

@media (min-width: 1024px) {
    .playerView {
        padding-right: 15px;
        padding-left: 15px;
        flex-grow: 0;
        position: relative;
        min-height: 643px;
    }
    .container {
        justify-content: center;
    }
}
