.container {
    display: flex;
    flex-direction: column;
    width: 320px;
    place-self: center;
}

.content {
    display: flex;
    justify-content: space-between;
    gap: 5px;
    padding: 5px;
    position: relative;
}

.winImage {
    width: 80px;
    height: 80px;
}

.image {
    width: 50px;
    height: 50px;
}

.imageContainerPitcher, .imageContainerBatter {
    width: 80px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-end;
}

.imageContainerBatter {
    align-items: flex-start
}

.actionType {
    color: #262019;
    text-align: center;
    font-family: Bangers, cursive;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.ballImage {
    position: absolute;
    width: 22px;
    height: 22px;
    transform: translateX(-50%) translateY(-50%);
}

.batImage {
    position: absolute;
    opacity: 70%;
    width: 200px;
    height: 39px;
    z-index: 3;
    /*right: 50%;*/
    /*width: auto;*/
    /*height: auto;*/
    /*transform: translateX(50%);*/
}