.pitcherContainer, .batterContainer {
    display: flex;
    padding: 14px;
    flex-direction: column;
    align-items: stretch;
    gap: 10px;
    border: 1px solid #262019;
    background: #EBE4DC;
    min-height: 643px;
    z-index: 20;
    position: absolute;
    max-width: 290px;
    left: calc((100vw - 66vh) / 4);
    transform: translateX(-35%);

}

.batterContainer {
    left: calc(100vw - (100vw - 66vh) / 4);
    transform: translateX(-65%);
}

.imageAndInfo {
    display: flex;
    gap: 10px;
    flex-direction: column;
}

.image {
    width: 260px;
    min-width: 260px;

    height: 260px;
    border: 1px solid #262019;
    background-color: white;
}

.tokenInfo {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.tokenName {
    color: #262019;
    font-family: Bangers, cursive;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%; /* 28.8px */
}

.tokenId {
    color: #8EAB8F;
    font-family: Bangers, cursive;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%; /* 14px */
}

.detailedStat {
    display: flex;
    align-items: flex-start;
    gap: 10px;
    align-self: stretch;
}

@media (max-width: 1023px) {
    .pitcherContainer, .batterContainer {
        position: absolute;
        bottom: 80px;
        left: 50%;
        transform: translateX(-50%);
        height: 364px;
        min-height: 342px;

        padding: 10px;
        width: 300px;
        gap: 10px;
    }

    .imageAndInfo {
        flex-direction: row;
        align-items: flex-start;
    }

    .image {
        width: 80px;
        min-width: 80px;
        height: 80px;
    }

    .tokenName {
        font-size: 18px;
        line-height: 100%;
    }

    .icon {
        display: none;
    }


}