.button {
    display: flex;
    padding: 4px 20px;
    justify-content: center;
    align-items: center;
    gap: 5px;
    border: 0.5px solid #f1e3bf;
    background: #00a341;
    color: #fff;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.commitButton {
    display: flex;
    padding: 4px 20px;
    justify-content: center;
    align-items: center;
    gap: 5px;
    width: 180px;
    /*align-self: stretch;*/
    border: 0.5px solid #f1e3bf;
    background: #00a341;
    color: #fff;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    height: 31px;
    position: relative;
}

.mobileButton {
    display: flex;
    padding: 4px 20px;
    justify-content: center;
    align-items: center;
    gap: 5px;
    width: 180px;
    /*align-self: stretch;*/
    border: 0.5px solid #f1e3bf;
    /*border-radius: 50%;*/
    background: #00a341;
    color: #fff;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    height: 31px;
    position: relative;
}

.commitButton:disabled {
    border: 1px solid #F1E3BF;
    opacity: 0.3;
    background: #00A341;
}

.gradientText {
    background: -webkit-linear-gradient(180deg, #F1E3BF, #D9DFB3, #00B94A);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: #FFF;
    text-align: center;
    font-size: 24px;
    font-style: italic;
    font-weight: 700;
    line-height: normal;
}


    .tooltip {
        position: absolute;
        bottom: 90%;
        left: 50%;
        transform: translateX(-50%);
        white-space: nowrap;
        background-color: #333;
        color: white;
        padding: 8px 12px;
        border-radius: 4px;
        border: 1px solid #ccc;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        font-size: 0.9rem;
    }


    .navbarButton {
        color: #BFBFBF;
        text-align: center;
        font-family: Inter;
        font-size: 12px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        cursor: pointer;

    }


