.button {
    display: flex;
    padding: 4px 20px;
    justify-content: center;
    align-items: center;
    gap: 5px;
    /*align-self: stretch;*/
    border: 0.5px solid #f1e3bf;
    background: #00a341;
    color: #fff;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

