.container {
    display: flex;
    padding: 20px 20px 10px 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex: 1 0 0;
    align-self: stretch;
    background: #FCECD9;
    margin-top: -20px;
}

.demoAndTrailer {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    align-self: stretch;
}

.blackButton, .greenButton {
    display: flex;
    min-height: 30px;
    max-height: 70px;
    padding: 10px 20px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex: 1 0 0;
    align-self: stretch;
}

.blackButton {
    border: 1px solid #262019;
    background: #262019;
    color: #FFF;
    text-align: center;
    font-family: Bangers, cursive;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1.2px;
}

.trailerButton {
    height: 47.5px;
}

.greenButton {
    border: 1px solid #262019;
    background: #328449;
    color: #FFF;
    text-align: center;
    font-family: Bangers, cursive;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1.2px;
}

.icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
    margin-top: 10px;
}

.ourIcons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    flex-grow: 1;
    flex-basis: 0;
}

.divider {
    width: 1px;
    height: 12px;
    background: #7E8E7F;
}

.hyperplay {
    display: flex;
    justify-content: flex-end;
    flex-grow: 1;
    flex-basis: 0;
}

.footer {
    display: flex;
    padding: 5px 20px 10px 20px;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
    background: #FCECD9;
    color: #7E8E7F;
    text-align: center;
    font-family: Pangolin, cursive;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%; /* 14px */
}

.builtBy {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
}

.greenButton, .blackButton, .trailerButton {
    cursor: pointer;
}

.button {
    cursor: pointer;
}
