.imageRow {
    display: flex;
    gap: 4px;
}

@keyframes scaleAnimation {
    0%, 100% { transform: scale(0.3); }
    /*40% {transform: scale(0.7);}*/
    50% { transform: scale(1); }
}

.animatedImage {
    width: 15px; /* Set this to your desired width */
    height: auto; /* Maintain aspect ratio */
    animation: scaleAnimation 1s infinite; /* Change 5s to whatever duration you prefer */
}

.image1 { animation-delay: 0s; transform: scale(0.2); }
.image2 { animation-delay: 0.2s; transform: scale(0.2); }
.image3 { animation-delay: 0.5s; transform: scale(0.2); }
