.container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.title {
  background: linear-gradient(92deg, #00a341 -10.37%, #fff 133.66%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%;
  letter-spacing: -0.4px;
}

.prompt {
  color: #fff;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}


.loadingViewContainer {
  display: flex;

  width: 100vw;
  height: 100vh;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 30px;
  position: relative;

  background: #FCECD9;
  transition: opacity 3s ease-out;
}

.loadingViewImage {
  width: 390px;
  height: 212px;
  flex-shrink: 0;
  background: url("https://static.simiotics.com/fullcount/bi-banner.png") lightgray 50% / cover no-repeat;
}