.container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.title {
  background: linear-gradient(92deg, #00a341 -10.37%, #fff 133.66%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%;
  letter-spacing: -0.4px;
}

.prompt {
  color: #fff;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
