.container {
  display: flex;
  padding: 80px 20px 20px 20px;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex: 1 0 0;
  align-self: center;
  max-width: 648px;

  border-top: 1px solid #4d4d4d;
  border-right: 1px solid #4d4d4d;
  border-left: 1px solid #4d4d4d;
  background: rgba(24, 51, 60, 0.7);
  backdrop-filter: blur(25px);
}

.title2 {
  color: #fff;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

@media (min-width: 768px) {
  .title2 {
    font-size: 16px;
  }
}

.button {
  display: flex;
  padding: 10px 40px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 40px;
  border: 1px solid #f1e3bf;
  background: #54808c;
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.button:hover {
  background: #2a778c;
}

@media (min-width: 768px) {
  .button {
    font-size: 18px;
  }
}
