.container {
  display: flex;
  padding: 80px 20px 20px 20px;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex: 1 0 0;
  align-self: center;
  max-width: 648px;

  border-top: 1px solid #4d4d4d;
  border-right: 1px solid #4d4d4d;
  border-left: 1px solid #4d4d4d;
  background: rgba(24, 51, 60, 0.7);
  backdrop-filter: blur(25px);
}

.content {
    display: flex;
    padding-bottom: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-grow: 0;
    width: 100%;
    max-width: 400px;
    min-width: 320px;
    border: 1px solid #262019;
    height: fit-content;
    background: #FCECD9;

}

.footer{
  display: flex;
  gap: 5px;
  margin-top: -10px;
}

.footerText{
  color: #262019;
  font-family: Pangolin;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.footerButton {
  color: #328449;
  font-family: Pangolin;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  cursor: pointer;
}

.title2 {
  color: #fff;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

@media (min-width: 768px) {
  .title2 {
    font-size: 16px;
  }
}

.button {
  display: flex;
  padding: 10px 40px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 40px;
  border: 1px solid #f1e3bf;
  background: #54808c;
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.button:hover {
  background: #2a778c;
}

@media (min-width: 768px) {
  .button {
    font-size: 18px;
  }
}

.loginContainer {
  display: flex;
  padding: 34px 35px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100%;
  background-image: url('https://static.fullcount.xyz/web/landing/Bl-banner-background-tinted.jpeg');
  background-size: cover;
  background-position: center;
}

.logo {
  height: 84px;
  width: 158px;
}

.banner {
  border-bottom: 1px solid #262019;
  min-height: 160px;
}


.contentFooter {
  display: flex;
  padding: 5px 20px 10px 20px;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
  background: #FCECD9;
  color: #7E8E7F;
  text-align: center;
  font-family: Pangolin, cursive;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%; /* 14px */
  margin-top: -20px;
}

.builtBy {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
}



