{
  "singleQuote": false,
  "jsxSingleQuote": false,
  "arrowParens": "always",
  "tabWidth": 2,
  "printWidth": 100,
  "useTabs": false,
  "semi": true,
  "bracketSpacing": true,
  "trailingComma": "all"
}
